{% extends "ecommerce/layout.html" %}
{% block title %} | Categorías{% endblock %}
{% block content %}
<!-- Lista de Categorías-->
<div class="section text-center">
    <h2 class="title">Categorías</h2>
    <a class="btn btn-success" href="{% url 'website:createCategory' %}"><span class="material-icons">
        add
        </span> Agregar Categoria</a>
    <div class="team">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">Descripción</th>
                            <th class="text-right">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for categoria in categorias %}
                        <tr>
                            <td class="text-center">{{forloop.counter}}</td>
                            <td class="text-center">{{categoria}}</td>
                            <td class="td-actions text-right">
                                <a href="{% url 'website:editCategory' categoria.id %}" data-toggle="tooltip" title="Editar Categoria" data-container="body" class="btn btn-success btn-fab btn-round">
                                    <i class="material-icons">edit</i>
                                </a>
                                <a href="{% url 'website:deleteCategory' categoria.id %}" data-toggle="tooltip" title="Eliminar Categoria" data-container="body" class="btn btn-danger btn-fab btn-round">
                                    <i class="material-icons">close</i>
                                </a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td class="text-center" colspan="3">No hay Categorías Disponibles.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}