{% extends "registration/layout.html" %}
{% block title %} | Recuperar Contraseña{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-4 col-md-6 ml-auto mr-auto">
        <div class="card card-login">
          <form class="form" method="POST" action="">
            {% csrf_token %}
            <div class="card-header card-header-success text-center">
              <h4 class="card-title">Cambiar Contraseña</h4>
            </div>
            <div class="card-body">
                {% if form.email.errors %} 
                {{ form.email.errors }} 
                {% endif %}
              <div class="input-group">
              </div>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">mail</i>
                  </span>
                </div>
                <input class="form-control" type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email">
              </div>
            </div>
            <div class="footer text-center">
              <input type="submit" value="Cambiar Contraseña" class="btn btn-success btn-wd btn-lg"/>
              <div class="container text-center">
                <a class="btn btn-danger" href="{% url 'login' %}">Volver al Login</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
{% endblock %}