{% extends "registration/layout.html" %}
{% block title %} | Recuperar Contraseña{% endblock %}
{% block content %}

{% if validlink %}
<div class="row">
    <div class="col-lg-4 col-md-6 ml-auto mr-auto">
        <div class="card card-login">
          <form class="form" method="POST" action="">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <div class="card-header card-header-success text-center">
              <h4 class="card-title">Confirmar Contraseña</h4>
            </div>
            <div class="card-body">
              <div class="input-group">
              </div>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">lock_outline</i>
                  </span>
                </div>
                <input class="form-control" type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
                {{ form.new_password1.errors }}
              </div>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">lock_outline</i>
                  </span>
                </div>
                <input class="form-control" type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
                {{ form.new_password2.errors }}
              </div>
            </div>
            <div class="footer text-center">
              <input type="submit" value="Cambiar Contraseña" class="btn btn-success btn-wd btn-lg"/>
              <div class="container text-center">
                <a class="btn btn-danger" href="{% url 'login' %}">Volver al Login</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
{% else %}
<div class="alert alert-danger">
    <div class="container">
      <div class="alert-icon">
        <i class="material-icons">error_outline</i>
      </div>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true"><i class="material-icons">clear</i></span>
      </button>
      <b>Error al restablecer la contraseña!:</b> 
      <h4 class="title"> El enlace para restablecer la contraseña no es válido, posiblemente porque ya se ha utilizado. Solicite un nuevo restablecimiento de contraseña. </h4>
    </div>
  </div>

{% endif %}
{% endblock %}