{% extends "ecommerce/layout.html" %}
{% block title %} | Acerca{% endblock %}
{% block content %}
<div class="section text-center">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <h2 class="title">Acerca de...</h2>
        <h5 class="description">Proyecto final para el curso Desarrollador Full Stack con Python y JavaScript</h5>
      </div>
    </div>
    <div class="features">
      <div class="row">
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-info">
              <i class="material-icons">online_prediction</i>
            </div>
            <h4 class="info-title">Online</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, quam blanditiis pariatur asperiores neque necessitatibus ipsa, velit voluptatibus nam facere iure nobis iste sequi aliquid quo, repellat rerum. Velit, qui.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-success">
              <i class="material-icons">verified_user</i>
            </div>
            <h4 class="info-title">Seguro</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ratione adipisci cum qui eum dolorum, expedita voluptatum labore commodi itaque voluptates veniam earum explicabo totam in atque nemo eligendi at!</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-danger">
              <i class="material-icons">stream</i>
            </div>
            <h4 class="info-title">Simple</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque aliquam dolores cumque, vel dolore quam facere consectetur alias, qui unde debitis quo, consequuntur repellendus minus eligendi a iste magni! Dolorum?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}