{% extends "ecommerce/layout.html" %}
{% block title %} | Acerca{% endblock %}
{% block content %}
<div class="section text-center">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <h2 class="title">Acerca de...</h2>
        <h5 class="description">Proyecto final para el curso Desarrollador Full Stack con Python y JavaScript</h5>
      </div>
    </div>
    <div class="features">
      <div class="row">
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-info">
              <i class="material-icons">online_prediction</i>
            </div>
            <h4 class="info-title">Online</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis nesciunt quos id adipisci ad excepturi, facere, cumque, officia consectetur reiciendis fugiat reprehenderit voluptas similique voluptatem blanditiis necessitatibus. Quas, est aliquam!</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-success">
              <i class="material-icons">verified_user</i>
            </div>
            <h4 class="info-title">Seguro</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum cupiditate omnis quas expedita nulla, sed tempora earum veniam nihil, quo at eos quae tempore commodi maxime in ut impedit ad?</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-danger">
              <i class="material-icons">stream</i>
            </div>
            <h4 class="info-title">Simple</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae dicta debitis eligendi voluptate accusamus ad numquam voluptas molestias mollitia veniam rerum ipsum quia, accusantium, recusandae eveniet perspiciatis illo nulla ipsa.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}